@font-face {
    font-family: 'PopulaireRegular';
    src: url('populaire.eot');
    src: url('populaire.eot?#iefix') format('embedded-opentype'),
         url('populaire.woff') format('woff'),
         url('populaire.ttf') format('truetype'),
         url('populaire.svg#PopulaireRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}