.visualize 		{ position: absolute; left: 0px; top: 0px; }
.chart-wrap		{ /* min-height: 420px;*/ padding: 430px 0px 10px 0px; position: relative; }
.visualize1		{ float: none; width: 100%;}
.visualize2		{ float: none; width: 100%;}
.visualize3		{ float: none; width: 100%;}
.visualize4		{ float: none; width: 100%;}
.visualize1 td,
.visualize2 td,
.visualize3 td,
.visualize4 td		{ width: 7%; }

.visualize-T1					{ display: none; float: none; width: 100%; }
.visualize-T2					{ display: none; float: none; width: 100%; }
.visualize-T3					{ display: none; float: none; width: 100%; }

.thick .visualize-labels-x 			{ z-index: 110; }
.thick .visualize-labels-x li:hover		{ cursor: pointer; background: url('../img/bck_black_5.png'); }
.thick .visualize-labels-x li .label		{ white-space: nowrap; text-indent: -9999px; background: url('../img/chart-x.gif') top center no-repeat; padding: 0px 10px 0px 5px; margin-left: -7px; }
.thick .visualize-labels-x li:hover .label	{ text-indent: 0px; background: none #FFFFFF; z-index: 10; }
.thick-line .visualize-labels-x li		{ width: 10px; margin-left: -5px; }
.thick-line .visualize-labels-x li .label 	{ min-width: 100%; padding-left: 5px; padding-right: 15px;}
.thick-line .visualize-labels-x li:hover .label { padding-right: 5px; }


/* DASHBOARD CAHRT - example of size and positioning chart customization */
 
 .dashboard_chart .chart-wrap 		{ padding: 0px; margin-bottom: 20px;} 
 .dashboard_chart .visualize-title	{ font-size: 18px !important; }
 .dashboard_chart div.visualize		{ padding: 63px 30px 90px 40px; border-color: #DDDDDD #DDDDDD #C4C4C4 #DDDDDD; float: none; position: relative; }
 .dashboard_chart .visualize-labels-x, 
 .dashboard_chart .visualize-labels-y	{ top: 63px; }
 .visualize_dashboard			{ display: none; }

/* demo styles */

table.visalize		{ float: left; height: 200px; margin-left: 30px; }
table.accessHide 	{ position: absolute; left: -999999px; }

/* visualize extension styles */

div.visualize 		{ margin: 60px 0 0 30x; padding: 70px 40px 90px; background: #FFFFFF; border: 1px solid #DDDDDD; -moz-border-radius: 4px; -webkit-border-radius: 4px; border-radius: 4px; margin: 0px; float: left; }
.visualize canvas 	{ border: 1px solid #DDDDDD; display: block; margin: -1px; background: #fff; }
.visualize-title canvas { border: 0px none; display: block; margin: 0px; background: none; }

.visualize-labels-x, 
.visualize-labels-y 			{ top: 70px; left: 40px; z-index: 100; }
.visualize-labels-y li span.label 	{ width: auto; }

.visualize-pie .visualize-labels 	{ position: absolute; top: 70px; left: 40px; }
.visualize-labels-x li span.label, 
.visualize-labels-y li span.label 	{ color: #444; font-size: 11px; padding-right: 5px; }
.visualize-labels-y li span.line 	{ border-style: solid;  opacity: .7; }
.visualize .visualize-info 			{ border: 0; position: static;  opacity: 1; background: none; }
.visualize .visualize-title 		{ position: absolute; top: 20px; color: #333; margin-bottom: 0; left: 20px; font-size: 24px; font-weight: bold; }
.visualize ul.visualize-key 		{ position: absolute; bottom: 15px; background: #eee; z-index: 10; padding: 10px 0; color: #aaa; width: 100%; left: 0;  }
.visualize ul.visualize-key li 		{ font-size: 1.2em;  margin-left: 20px; padding-left: 18px; }

.visualize ul.visualize-key .visualize-key-color 	{ width: 10px; height: 10px;  margin-top: -4px; }
.visualize ul.visualize-key .visualize-key-label 	{ color: #333; }

